$color_1: #F8F9FA;
$color_2: #131515;
$color_3: #7389ae;
$font-family_1: 'Roboto', sans-serif;
$background-color_1: #131515;
$background-color_2: #7389ae;
$background-color_3: #505A5B;
$border-color_1: #131515;