@media (min-width: 992px) {
	h1 {
		font-size: 75px;
	}
	.nav-link {
		text-align: right;
	}
	h3 {
		margin-bottom: 3px;
		font-size: xx-large;
	}
	p {
		font-size: large;
	}
	.pantallaChica {
		display: none;
	}
	header {
		nav {
			background-color: $background-color_2;
		}
	}
	.navbar-nav {
		display: grid;
		width: 100%;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.textoContacto {
		font-weight: 900;
	}
}
